$color1: #004AAD;
$color2: #E20814;
$color3: #279AF1;
$color4: #EAF0F8;
$color5: #131112;

$backgroundMainColor: white;
$headerColor: $color1;
$acentColor: $color1;
$footerColor: $color4;
$elevation: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
